* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Jeko";
    src:    url("../fonts/Jeko/Jeko-Bold.otf") format("otf"),
            url("../fonts/Jeko/Jeko-Bold.woff2") format("woff2"),
            url("../fonts/Jeko/Jeko-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Jeko";
    src:    url("../fonts/Jeko/Jeko-SemiBold.otf") format("otf"),
            url("../fonts/Jeko/Jeko-SemiBold.woff2") format("woff2"),
            url("../fonts/Jeko/Jeko-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Cerebri Sans Pro";
    src:    url("../fonts/CerebriSansPro/CerebriSansPro-Book.otf") format("otf"),
            url("../fonts/CerebriSansPro/CerebriSansPro-Book.ttf") format("ttf"),
            url("../fonts/CerebriSansPro/CerebriSansPro-Book.woff") format("woff"),
            url("../fonts/CerebriSansPro/CerebriSansPro-Book.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
}

html {
    font-size: 10px;
}

body {
    width: 100%;
    height: 100%;
    padding: 24px;
    align-items: center;
    background: #ffffff;
    overflow-y: auto;
}

.wrapper {
    width: 100%;
    padding-bottom: 12rem;
    box-sizing: border-box;
}

.button-container {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 2.4rem;
    padding-bottom: 4.8rem;
    justify-content: center;
    background: #ffffff;
}

button {
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-family: Jeko, "Arial Black", sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.25em;
    height: 56px;
    padding: 18px;

    border: none;
    width: 100%;
    background: #00A651;
    border-radius: 16px;
}

button[disabled] {
    background: #dcdcdc;
}

h1 {
    font-family: Jeko, "Arial Black", sans-serif;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 1.17em;
    letter-spacing: -1.5px;
    margin: 8px 0;
}

.subtitle {
    font-family: Jeko, "Arial Black", sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.43em;
    color: #808080;
}

.headline {
    display: flex;
    align-items: center;
    margin: 32px 0 16px;
    gap: 10px;
}

.headline span {
    font-weight: 700;
    font-family: Jeko, "Arial Black", sans-serif;
    font-size: 1.6rem;
    line-height: 1.25em;
}

.headline .headline__icon {
    width: 17px;
    height: 17px;
    margin-top: -2px;
}

.steps {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 8px 16px;
    border-radius: 16px;
    background: #f9f9fa;
}

.steps .steps__item img {
    max-width: 80px;
    max-height: 80px;
}

.steps .steps__item {
    display: flex;
    align-items: center;
    gap: 16px;
    border-bottom: 1px solid #ecedef;
    padding: 8px 0;
    font-family: "Cerebri Sans Pro", Arial, sans-serif;
    font-size: 1.4rem;
    line-height: 1.57em;
    color: #555659;
}

.steps .steps__item:last-of-type {
    border-bottom: none;
}
